/* context-menu */
.context-menu {
  position: absolute;
  width: 200px;
  z-index: 100;
  background-color: var(--island-bg-color);
  box-shadow: var(--shadow-island);
  border-radius: var(--border-radius-lg);
  padding: calc(var(--padding) * var(--space-factor));
}

/* menu items */
.context-menu__items {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}

/* menu item */
.context-menu__item {
  padding: 5px 12px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.context-menu__item:hover {
  background: #f5f5f5;
}

.context-menu__item:hover::after {
  transform: scaleY(1);
}
